{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block title %}{% trans 'Log in' %}{% endblock %}

{% block content %}
	<h2>{% trans 'Log in' %}</h2>

	<form action="." method="post">
		{% csrf_token %}

		{% if form.hidden_fields %}
		{% for item in form.hidden_fields %}
		{{ item }}
		{% endfor %}
		{% endif %}

		{% if form.non_field_errors %}
		<p class="form-error">
			{% for error in form.non_field_errors %}
			<span class="form-error-msg">{{ error }}</span>
			{% endfor %}
		</p>
		{% endif %}

		{% for field in form %}
		<p class="form-field{% if field.field.required %} required{% endif %}">
			<label for="id_{{ field.name }}">{{ field.label }}</label>
			{{ field }}
		</p>
		{% endfor %}

		<p class="form-buttons">
			{% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
			<input type="submit" value="{% trans 'Log in' %}">
		</p>
	</form>

	{% comment %}
	<script type="text/javascript">
		document.getElementById('id_username').focus()
	</script>
	{% endcomment %}
{% endblock %}